body {
    margin: 0;
    padding: 0;
    font-family: 'Verdana',sans-serif;
    background: #d05c62;
  }
  #eto{
    background-color: #d05c62 !important
  }
  
  
  
  html {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: white !important;
  }
  .user_card {
    font-family: 'Roboto',sans-serif;
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: rgb(214, 54, 54) ;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(236, 18, 10, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(62, 91, 218, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  
  }
  .brand_logo_container {
    font-family: 'Roboto',sans-serif;
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #f3671f;
    padding: 10px;
    text-align: center;
  }
  .brand_logo {
    font-family: 'Roboto',sans-serif;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
  }
  .form_container {
    font-family: 'Roboto',sans-serif;
    margin-top: 100px;
  }
  .login_btn {
    font-family: 'Roboto',sans-serif;
    width: 100%;
    background: #f3671f !important;
    color: white !important;
  }
  .login_btn:focus {
    font-family: 'Roboto',sans-serif;
    box-shadow: none !important;
    outline: 0px !important;
  }
  .login_container {
    font-family: 'Roboto',sans-serif;
    padding: 0 2rem;
  }
  .input-group-text {
    font-family: 'Roboto',sans-serif;
    background: #d05c62 !important;
    color: rgb(99, 158, 235) !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
    font-family: 'Roboto',sans-serif;
    box-shadow: none !important;
    outline: 0px !important;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #d05c62 !important;
    font-family: 'Roboto',sans-serif;
  }
  .log{
    margin-top: 100px !important;
    font-family: 'Roboto',sans-serif;
  }
  .imag{
    width: 100%;
    height: 100%;
  }


  #footer{
    background:#d05c62 !important
  }